<h2>Forgot Password</h2>
{if $MESSAGE}
<div class="w100p errMsg clear">{$MESSAGE}</div>
{/if}
<form name="frm" action="{$SITE_URL}user/adminindex.php" method="post" onsubmit="return chkForm();">
<input type="hidden" name="action" value="forgotpass">
<div class="row">
	<label class="small_label">Email:<span class="req">*</span></label>
	<input type="text" name="txtUserId" class="txtboxsmall" maxlength="50" />
</div>
<div class="row">
	<label class="small_label"></label>
	<input type="submit" name="Submit" value="Submit" class="button" />
</div>
<div class="row">
	<label class="small_label"></label>
	<label class="small_label"><a href="{$SITE_URL}adminindex.php">Back</a></label>
</div>
</form>
{literal}
<SCRIPT LANGUAGE="JavaScript">
<!--
function chkForm()
{
	if(document.frm.txtUserId.value == "")
	{
		alert("Email cannot be blank");
		document.frm.txtUserId.focus();
		return false;
	}
	return true;
}
document.frm.txtUserId.focus();
//-->
</SCRIPT>
{/literal}