<div id="content">
	<div id="contentLeft">	
		<span><h2>Add new publication file for {$smarty.get.name}</h2></span>
		{if $MESSAGE}
			<div class="w100p errMsg clear">{$MESSAGE}</div>
		{/if}
		<form action="" method="post" name="frm" enctype="multipart/form-data">
		<div class="row">
			<label class="small_label">File:<span class="req">*</span></label>
			<input type="file" id="vFile" name="vFile" size="20" maxlength="100" />
		</div>
		<div class="row" style="margin-top:20px;">
			<label class="small_label">&nbsp;</label>
			<input type="submit" value="Save" class="submit_button" id="submit_button" onclick="return validate_magazine()" id=""  />&nbsp;&nbsp;
			<input type="button" value="Back" onclick="location.href='{$SITE_URL}product/index.php?action=publist&m_id={$smarty.get.m_id}&name={$smarty.get.name}'"  />
		</div>
	</div>
	</form>
</div>
<script type="text/javascript" charset="utf-8">
{literal}
jQuery(function($){$("#dActivationDate").attachDatepicker({showOn: 'button', buttonImage: '{/literal}{$SITE_URL}{literal}graphics/admin/CalendarLogo.jpg', buttonImageOnly: true,yearRange:'+0:+5',fileds_to_hide:''});});
{/literal}
</script>