<!-- Include jQuery -->
<script src="{$SITE_URL}script/admin/jquery.js" type="text/javascript" charset="utf-8"></script>	
<!-- Include Core Datepicker JavaScript -->
<script src="{$SITE_URL}script/admin/ui.datepicker.js" type="text/javascript" charset="utf-8"></script>	
<link rel="stylesheet" href="{$SITE_URL}css/admin/ui.datepicker.css" type="text/css" media="screen" title="core css file" charset="utf-8" />
<script>//<![CDATA[{literal}
	function checkAll()
	{
		for(i=0;i<document.frm.elements.length;i++)
		{
			if(document.frm.elements[i].type=="checkbox" && document.frm.elements[i].name=="chkPage[]")
			{
				if(!document.frm.elements[i].disabled)
				{
					document.frm.elements[i].checked = document.frm.chkAll.checked;
				}
			}
		}
	}
	function chkForm()
	{
		var totchecked=0;
		flag = false;
		for(i=0;i<document.frm.elements.length;i++)
		{
			if(document.frm.elements[i].type=="checkbox" && document.frm.elements[i].name=="chkPage[]" && true == document.frm.elements[i].checked)
			{
				flag = true;
				break;
			}
		}
		if(!flag)
		{
			alert("Please select at least one value to proceed.");
			return false;
		}
		if(document.frm.selAction.value == 'delete')
		{
			return confirmDeletion();
		}
		return true;
	}
	function confirmDeletion()
	{
		flag =false;		
		for(i=0;i<document.frm.elements.length;i++)
		{
			if(document.frm.elements[i].type=="checkbox" && document.frm.elements[i].name=="chkPage[]" && true == document.frm.elements[i].checked)
			{
				flag = true;
				break;
			}
		}
		if(true == flag)
		{
			$action = confirm("Do you really want to delete the selected record(s)?");
		}
		if($action)
		{
			return true;
		}
		return false;
	}
//{/literal}]]></script>
<h2>{$TOP_NAVIGATION}</h2>
{if $ERROR_MSG}
	<div class="w100p errMsg clear">{$ERROR_MSG}</div>
{/if}
<form name="form1" action="" method="post"  enctype="multipart/form-data">
<div class="row">
	<label class="small_label">Add New App</label>
</div>
<div class="row">
	<label class="small_label">Name:<span class="req">*</span></label>
	<input type="text" name="vName" value="{$DATA.vName}" maxlength="100" />
</div>
<div class="row">
	<label class="small_label">Description:</label>
	<input type="text" name="vDescription" value="{$DATA.vDescription}" />
</div>
<div class="row">
	<label class="small_label">Internal Description:</label>
	<input type="text" name="vInternalDescription" value="{$DATA.vInternalDescription}" />
</div>
<div class="row">
	<label class="small_label">Paid Date:<span class="req">*</span></label>
	<input type="text" name="dPaidDate" id="dPaidDate" value="{$DATA.dPaidDate}" readonly="readonly" />
</div>
<div class="row">
	<label class="small_label">Reference:<span class="req">*</span></label>
	<input type="text" name="vReference" value="{$DATA.vReference}" maxlength="100" />
</div>
{if $smarty.get.id}
<div class="row">
	<label class="small_label"></label>
	<span style="margin:7px 0 5px 0;float:left;">{$DATA.dDateTime}
</div>
{/if}
<div class="row">
	<label class="small_label"></label>
	<input type="submit" name="submit" value=" Add / Edit " class="submit_button" onclick="document.getElementById('loader').style.display = 'block';" />	
	<div id="loader"><img src="{$SITE_URL}graphics/admin/ajax-loader.gif" alt="Loading..." title="Loading..." /></div>
</div>
</form>
<!-- xxxxxxxxx Grid Table xxxxxxxxx -->

{if $IS_RECORD == false}
	<div class="w100p errMsg">No Record</div>
{else}
<div class="w100p">
	<div class="new_rec"><input type="button" name="cancel" value="&laquo; Back" onclick="window.location=('{$SITE_URL}user/adminindex.php?action=clientlist&page={$PAGE}');" class="submit_button" /></div>
	<div class="paging_div">{$PAGING}</div>
</div>
<form name="frm" action="" method="post" onsubmit="return chkForm();">
<input type="hidden" name="page" value="{$PAGE}" />
<table width="100%" cellpadding="0" cellspacing="0" class="grid">		
<tr>
	<th class="check_list"><input type="checkbox" name="chkAll" onclick="javascript:return checkAll();"></th>
	<th>Name</th>
	<th>Description</th>					
	<th>Paid Date</th>					
	<th>Reference</th>					
	<th class="status">Status</th>
</tr>
{section name=i loop = $ARR_DATA}
<tr>
	<td class="check_list"><input type="checkbox" name="chkPage[]" value="{$ARR_DATA[i].iId}" id="chkPage"></td>
	<td>{$ARR_DATA[i].vName|stripslashes|htmlentities}</td>
	<td>{$ARR_DATA[i].vDescription|stripslashes|htmlentities|truncate:30:"..."}</td>
	<td>{$ARR_DATA[i].dPaidDate}</td>
	<td>{$ARR_DATA[i].vReference|stripslashes|htmlentities|truncate:30:"..."}</td>
	<td class="status" align="center">
	<a href="{$SITE_URL}product/adminindex.php?action=applist&client_id={$smarty.get.client_id}&id={$ARR_DATA[i].iId}&{$EXTRA_ATT}" border="0"><img src="{$ADMIN_GRAPHICS_URL}icon_edit.png" alt="Edit" title="Edit" border="0"></a>
	<a href="{$SITE_URL}product/adminindex.php?action=deleteapp&client_id={$smarty.get.client_id}&id={$ARR_DATA[i].iId}&{$EXTRA_ATT}" border="0" onclick="javascript:return confirm('Do you really want to delete this record?');">
	<img src="{$ADMIN_GRAPHICS_URL}icon_delete.png" alt="Delete" title="Delete" border="0" /></a>
	{*if $ARR_DATA[i].iActive == 1}
	<img src="{$ADMIN_GRAPHICS_URL}icon_status.png" alt="Active" title="Active">
	{else}
	<img src="{$ADMIN_GRAPHICS_URL}icon_inactive.gif" alt="Inactive" title="Inactive">
	{/if*}
	</td>
</tr>			
{/section}			
</table>		
<div class="row active">
<select name="selAction" class="left">
	{*<option value="activate">Activate</option>
	<option value="deactivate">Deactivate</option>*}
	<option value="delete">Delete</option>
</select>
<input name="" type="submit" value="" class="go_btn left" />
</div>
{/if}
</form>		
<script type="text/javascript" charset="utf-8">
{literal}
jQuery(function($){$("#dPaidDate").attachDatepicker({showOn: 'button', buttonImage: '{/literal}{$ADMIN_GRAPHICS_URL}{literal}CalendarLogo.jpg', buttonImageOnly: true,yearRange:'-2:+5',fileds_to_hide:''});});
{/literal}
</script>