<script src="{$SITE_URL}script/main/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
<script type="text/javascript">
{literal}
$(document).ready(function() { 
	counter = {/literal}{$DIV_COUNT}{literal};
	page_count = {/literal}{$PUB_FILE_COUNT}{literal};
	
	//Make element draggable
	$(".drag").draggable({
		revert		: 'invalid', 
		helper		: 'clone',
		containment	: 'frame',
		/*cursor		: 'crosshair',*/
		cursorAt	: { left:-1,top:-1 },

		//When first dragged
		stop		:function(ev, ui) 
		{
			//console.log(ui);
			var pos	= $(ui.helper).offset();
			var left_	= ev.pageX - $("#frame").position().left;
			var top_	= ev.pageY - $("#frame").position().top;
			// get widht and height of the container div#frame element
			var w_ = $("#frame").width();
			var h_ = $("#frame").height();
			
			div_id = "clonediv"+counter;
			objName	 = "#clonediv"+counter++;
			objNamex = "clonediv"+counter;

			element_type = document.getElementById(div_id).querySelector("a").id;
			parent_div = document.getElementById(div_id).parentNode.id;
			parent_id = parent_div.replace('frame_file_','');
			
			//check if dropped inside the conteiner div#frame										
			if((left_ >= 0) && (left_ <= w_) && (top_ >= 0) && (top_ <= h_))
			{
				$(objName).css({"left":left_,"top":top_});
				
				// assign a z-index value
				zindex = left_ + top_;
				$(objName).css({"z-index":zindex});
				//$(objName).attr('title', 'Some Text :: '+objName);
				$(objName).attr('title', '');
				$(objName).addClass("lgutipT");
				$(objName).removeClass("drag");
				
				// Send via ajax XY position of the cloned element
				frm_data = "x="+left_+"&y="+top_+"&pub_file_id="+parent_id+"&element_type="+element_type+"&div_id="+div_id;
				
				//addHotspot(frm_data, div_id);
				
				$.ajax({
					url: siteurl+"product/index.php?action=addhotspot",
					data: frm_data,
					cache: false,
					type: "GET",
					context: document.body,
					success: function(data){
						/*var id = div_id+'_id'
						var hfield = document.getElementById(id);
						//Check if the hidden filed is not created then create one for the hotspot id
						if(typeof hfield  == "undeifned" || hfield == null){
							hidden_field = '<input type="hidden" id="'+id+'" value="'+data+'" />';
							$('#hidden_fields').append(hidden_field);
						}*/
						
						bind_click_event(div_id, data);
					}
				});
			}
			createPopupLink();
			//When an existiung object is dragged
			recreate_dragable(objName, parent_id, element_type, div_id)
		}
	});
		
	$('#photo_file').live('change', function(){
		if(!(validate_photo_file($('#photo_file').val(), 'photo_error'))) {
			return false;
		}
		img = siteurl+'graphics/main/ajax-loader.gif';
		$('#photo_preview').attr('src',img);
		$('#photo_preview').attr('style', 'margin-top:90px');
		$('#photo_submit_button').attr('disabled', 'disabled');
		$("#photo_form").ajaxForm({
			success: function(responseText){
				//alert(responseText);
				img = siteurl+'product/hotspot/thumb/'+responseText;
				$('#photo_file_name').val(responseText);
				$('#photo_preview').attr('style', 'margin-top:0px');
				$('#photo_preview').attr('src',img);
				$('#photo_submit_button').removeAttr('disabled');
			}
		}).submit();
	});
	
	$('#sponsor_file').live('change', function(){
		if(!(validate_photo_file($('#sponsor_file').val(), 'sponsor_error'))) {
			return false;
		}
		img = siteurl+'graphics/main/ajax-loader.gif';
		$('#sponsor_preview').attr('src',img);
		$('#sponsor_preview').attr('style', 'margin-top:90px');
		$('#sponsor_submit_button').attr('disabled', 'disabled');
		$("#sponsor_form").ajaxForm({
			success: function(responseText){
				//alert(responseText);
				img = siteurl+'product/hotspot/thumb/'+responseText;
				$('#sponsor_file_name').val(responseText);
				$('#sponsor_preview').attr('style', 'margin-top:0px');
				$('#sponsor_preview').attr('src',img);
				$('#sponsor_submit_button').removeAttr('disabled');
			}
		}).submit();
	});
	
	$('#video_file').live('change', function(){
		if(!(validate_video_file($('#video_file').val(), 'video_error'))) {
			return false;
		}
		$('#video_loader').css("display", "block");
		img = siteurl+'graphics/main/ajax-loader.gif';
		//$('#video_preview').attr('src',img);
		//$('#video_preview').attr('style', 'margin-top:90px');
		$('#video_submit_button').attr('disabled', 'disabled');
		$("#video_form").ajaxForm({
			success: function(responseText){
				$('#video_loader').css("display", "none");
				//alert(responseText);
				img = siteurl+'product/hotspot/thumb/'+responseText;
				$('#video_file_name').val(responseText);
				//$('#video_preview').attr('style', 'margin-top:0px');
				//$('#video_preview').attr('src',img);
				$('#video_submit_button').removeAttr('disabled');
			}
		}).submit();
	});
	
	$('#gallery_file').live('change', function(){
		if(!(validate_photo_file($('#gallery_file').val(), 'gallery_error'))) {
			return false;
		}
		img = siteurl+'graphics/main/ajax-loader.gif';
		$('#gallery_loader').css("display", "block");
		//$('#gallery_preview').attr('style', 'margin-top:90px');
		$('#hotspot_id').val($('#current_hotspot_id').val());
		$('#gallery_submit_button').attr('disabled', 'disabled');
		$("#gallery_form").ajaxForm({
			success: function(responseText){
				$('#gallery_loader').css("display", "none");;	
				//alert(responseText);
				li = '<li><img class="gall_image" src="'+siteurl+'product/hotspot/'+responseText+'"/></li>';
				$('#pikame').append(li);
				$('#gallery_submit_button').removeAttr('disabled');
				$('#gall_main_img').attr('src', siteurl+'product/hotspot/'+responseText);
				$('.gall_image').click(function() {
					$('#gall_main_img').attr('src', this.src);
				});
			}
		}).submit();
	});
	
	$('#view_360_file').live('change', function(){
		if(!(validate_photo_file($('#view_360_file').val(), 'view_360_error'))) {
			return false;
		}
		img = siteurl+'graphics/main/ajax-loader.gif';
		$('#view_360_loader').css("display", "block");
		//$('#view_360_preview').attr('style', 'margin-top:90px');
		$('#view_360_hotspot_id').val($('#current_hotspot_id').val());
		$('#view_360_submit_button').attr('disabled', 'disabled');
		$("#view_360_form").ajaxForm({
			success: function(responseText){
				$('#view_360_loader').css("display", "none");;	
				//alert(responseText);
				li = '<li><img class="view_360_image" src="'+siteurl+'product/hotspot/'+responseText+'"/></li>';
				$('#view_360_icon').append(li);
				$('#view_360_submit_button').removeAttr('disabled');
				$('#view_360_main_img').attr('src', siteurl+'product/hotspot/'+responseText);
				$('.view_360').click(function() {
					$('#view_360_main_img').attr('src', this.src);
				});
			}
		}).submit();
	});
		
	//$('#file_box').click(save_pub_basic_info);	

	$('#pub_file').live('change', function(){
		img = '<img src="'+siteurl+'graphics/main/ajax-loader.gif" />';

		if(!(validate_photopdf_file($('#pub_file').val(), 'pub_loading'))) {
			return false;
		}
		$('#pub_loading').html(img);
		$("#pub_file_form").ajaxForm({
			success: function(responseText){
				$('#pub_file').val('');
				document.getElementById('pub_file').value = '';
				$('#pub_loading').html('File uploaded successfully. Browse to upload more files.');
				$('#save_button').removeAttr('disabled');
				var obj = jQuery.parseJSON(responseText);
				for(i=0; i<obj.length; i++)
				{
					page_count = page_count+1;
					$('#page_count').html(page_count);
					$('#pub_file_list').append('<li style="cursor:pointer;" id="file_'+obj[i].id+'" onclick="set_image(this.id);">'+obj[i].disp_name+'</li>');
					
					$('#frame').append('<div id="frame_file_'+obj[i].id+'" class="sub_frame ui-droppable" style="display:none; background-image: url(\''+siteurl+'product/publication/small/'+obj[i].file_name+'\');"></div>');
				}
				
				create_dropable();
				load_publications();
			}
		}).submit();
	});
	
	
	//create_gallery();
	createPopupLink();
	$('#pub_manage').click(function(){});
	create_dropable();
	load_publications();
	load_artilces();
});

{/literal}
</script> 
<div style="dispkay:none;" id="hidden_fields"><input type="hidden" id="current_hotspot_id" /></div>
 <!-- xxxxx Title Bar xxxxxxx -->
      <div class="title_bar">
        <!-- xxxxx Left Area xxxxxxx -->
        <div class="left_area">
          <h1>Revistas disponibles</h1>
        </div>
        <!-- xxxxx //Left Area xxxxxxx -->
        <!-- xxxxx Right Panel xxxxxxx -->
        <div class="right_panel" style="display:none">
          <div class="add_magazine_btn"><a rel="example_group" href="#inline1"><img src="{$SITE_URL}graphics/main/add_icon.png" alt="" /> <span>Agregar nueva revista</span></a> </div>
        </div>
        <!-- xxxxx //Right Panel xxxxxxx -->
      </div>
      <div class="clear"></div>
      <!-- xxxxx //Title Bar xxxxxxx -->
      <!-- xxxxxx Content xxxxxx -->
      <!-- xx Accordian 1 xx -->
      <div class="accordian_cont">
        <h3 class="acc-trigger"> <a href="#">Informacion Basica</a> </h3>
        <div class="acc-container">
		<form name="basic_info" id="basic_info">
		<input type="hidden" name="m_id" value="{$smarty.get.m_id}" />
		<input type="hidden" name="pub_id" id="pub_id" value="{$DATA.iId}" />
          <div class="one_half">
			<div class="clear errMsg" id="pub_err"></div>
            <label>Nombre de la publicacion:</label>
            <br />
           <input type="text" id="vName" name="vName" size="20" value="{$DATA.vName|stripslashes|htmlentities}" maxlength="100" />
            <br />
            <div class="clear"></div>
            <label>Mes de la publicacion:</label>
            <br />
           {html_options name=iMonth id=iMonth options=$months selected=$DATA.iMonth}
            <br />
            <div class="clear"></div>
            <label>Descripcion:</label>
            <br />
            <textarea name="vDescription" id="vDescription">{$DATA.vDescription}</textarea>
          </div>
          <div class="one_half last">
          <label class="left margintop_10">Fecha de activacion:</label>
		  <input placeholder="dd/mm/yyyy" class="date" type="text" id="dActivationDate" name="dActivationDate" value="{$DATA.dActivationDate}" />
          <div class="clear"></div>
          <label>Vista general de la publicacion:</label><br /><br />
          <img src="{$SITE_URL}graphics/main/ipad_graphic.png" alt="" />
          </div>
          <div class="clear"></div>
          </form>
        </div>
      </div>
      <!-- xx //Accordian 1 xx -->
      <!-- xx Accordian 2 xx -->
      <div class="accordian_cont">
        <h3 class="acc-trigger" id="file_box"> <a href="#">Importar Contenido</a> </h3>
        <div class="acc-container">
        	<div class="one_half">
			<form action="{$SITE_URL}product/index.php?action=addpub" name="pub_file_form" id="pub_file_form" enctype="multipart/form-data" method="post">
            <input name="a" type="radio" value="0" /> Un archivo PDF que contiene todas las paginas de la publicacion <br /><br />
            <input name="a" type="radio" value="1" /> Un archivo PDF que contiene todas las paginas de la publicacion <br />
            <span class="small_txt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nota: todos los archivos deberan ser de un mismo formato (PDF 0 JPGE 0 PNG)</span>
            <br /><br />
			<!-- <a id="article" rel="example_group" href="#add_article">Add Article</a><br />
            <span id="link_article"></span> -->
			<input type="hidden" name="pub_id" id="file_pub_id" value="" />
			{if $IE}
			<input type="file" name="pub_file" id="pub_file" class="fileUpload" />
			{else}
			<div style='height: 0px;width:0px; overflow:hidden;'><input type="file" name="pub_file" id="pub_file" class="fileUpload" /></div>
			<input name="" value="Seleccionar" type="button" onclick="getFile();"/>
			{/if}
            <br /><br />
           <div class="clear errMsg" id="pub_loading"></div>
           <br />
            Total de paginas: <strong class="black_txt" id="page_count">{$PUB_FILE_COUNT}</strong>
			</form>
            </div>
            <div class="one_half last center_txt">
            <h4>Estructura Requerida (nombre de los archivos)</h4>
            <img src="{$SITE_URL}graphics/main/importar_graphic.png" alt="" />
           	<h4>Nombre<span class="light_blue_txt">-</span><span class="black_txt">DDMMYYYY</span><span class="light_blue_txt">-</span><span class="green_txt">###</span><span class="light_blue_txt">.pdf</span></h4>
            La resolucion minima requerida por pagina para las vistas<br />
disponsible, debera ser de:<br />
<span class="black_txt">1536 x 2048</span>
            <br /><br />
            
            </div>
            <div class="clear"></div>
          <!-- xxx //onehalf xxx -->
        </div>
      </div>
      <!-- xx //Accordian 2 xx -->
      <!-- xx Accordian 3 xx -->
      <div class="accordian_cont">
        <h3 class="acc-trigger" id="pub_manage"> <a href="#">Organizar Contenido</a> </h3>
        <div class="acc-container">
			<div style="float:left; width:100%;">
				<input type="hidden" id="cur_pub_file_id" />
				<a id="article" rel="example_group" href="#add_article">Add Article</a><br />
				<span id="link_article"></span>
			</div>
			<div id="article_output_msg" style="float:left; width:100%; color:red;"></div>
				<!-- Left panel -->
            <div class="left_panel">
            <div class="content" style=" height: 678px;overflow: auto;">
				<h2>Contenido</h2>
				<ul id="pub_file_list">
				{section name=i loop = $PUB_FILE}
				<li style="cursor:pointer;" id="file_{$PUB_FILE[i].iId}" onclick="set_image(this.id);">
					{$PUB_FILE[i].vDispName}
					<span class="article_title">{$PUB_FILE[i].art_name}</span>
				</li>
				{/section}
				</ul>
			</div>
	</div>
	<!-- // Left panel -->
	<!-- center panel -->
	<div class="center_panel">
		<div id="frame">
		{section name=i loop = $PUB_FILE}
		{assign var=id value=$PUB_FILE[i].iId}
			<div id="frame_file_{$PUB_FILE[i].iId}" class="sub_frame ui-droppable" style="display:none; background-image: url('{$SITE_URL}product/publication/small/{$PUB_FILE[i].vFile}');">
			{section name=j loop = $HOTSPOT[$id]}
				<div id="{$HOTSPOT[$id][j].vDivId}" class="ui-draggable dragged3 lgutipT" style="position: absolute; left: {$HOTSPOT[$id][j].iXPos}px; top: {$HOTSPOT[$id][j].iYPos}px; z-index: 252;"><a href="#add_{$HOTSPOT[$id][j].eType}" rel="example_group" id="{$HOTSPOT[$id][j].eType}"><img class="icon" alt="" src="{$SITE_URL}/graphics/main/icon_{$HOTSPOT[$id][j].eType}.png"></a></div>
				<script language="javascript">
				bind_click_event('{$HOTSPOT[$id][j].vDivId}', {$HOTSPOT[$id][j].iId});
				recreate_dragable('#{$HOTSPOT[$id][j].vDivId}', {$PUB_FILE[i].iId}, '{$HOTSPOT[$id][j].eType}', '{$HOTSPOT[$id][j].vDivId}');
				</script>
			{/section}
			
			</div>
		{/section}
		</div>
	</div>
	<!-- //center panel -->
	<!-- xxxxxxxxxxxx Right Panel xxxxxxxxxxxx -->
    <div class="right_panel"> 
    	 <!-- xxxxxx Content xxxxxx -->
    	<div class="content">
        	<h2>Hot Spots</h2>
            <ul>
            <li><div class="drag" id="drag1"><a id="pub_link" rel="example_group" href="#add_pub_link"><img src="{$SITE_URL}graphics/main/icon_pub_link.png" alt="" class="icon" /></a></div>Vinculo Pagina <a href="#" class="info"></a></li>
            <li><div class="drag" id="drag2"><a id="photo" rel="example_group" href="#add_photo"><img src="{$SITE_URL}graphics/main/icon_photo.png" alt="" class="icon" /></a></div>Ampliar Imagen <a href="#" class="info"></a></li>
            <li><div class="drag" id="drag3"><a id="gallery" rel="example_group" href="#add_gallery"><img src="{$SITE_URL}graphics/main/icon_gallery.png" alt="" class="icon" /></a></div>Galeria <a href="#" class="info"></a></li>
            <li><div class="drag" id="drag4"><a id="video" rel="example_group" class="active" href="#add_video"><img src="{$SITE_URL}graphics/main/icon_video.png" alt="" class="icon" /></a></div>Video <a href="#" class="info"></a></li>
            <li><div class="drag" id="drag5"><a id="link" rel="example_group" href="#add_link"><img src="{$SITE_URL}graphics/main/icon_link.png" alt="" class="icon" /></a></div>Vinculo Web <a href="#" class="info"></a></li>
            <li><div class="drag" id="drag6"><a id="sponsor" rel="example_group" href="#add_sponsor"><img src="{$SITE_URL}graphics/main/icon_sponsor.png" alt="" class="icon" /></a></div>Patrocinador <a href="#" class="info"></a></li>
			<li><div class="drag" id="drag7"><a id="view_360" rel="example_group" href="#add_view_360"><img src="{$SITE_URL}graphics/main/icon_gallery.png" alt="" class="icon" /></a></div>360 View<a href="#" class="info"></a></li>
            </ul>
            <!-- popup 1 -->
            <div style="display: none;">
  <div id="pagina_info" class="popup">
  <h1>Agregar revista</h1>
  text
  </div>
  </div>
  <!-- // Popup -->
        </div>
        <!-- xxxxxx //Content xxxxxx -->
    </div>
    <!-- xxxxxxxxxxxx //Right Panel xxxxxxxxxxxx -->
    <div class="clear"></div>
        </div>
      </div>
      <!-- xx //Accordian 3 xx -->
            <input name="" onclick="location.href='{$SITE_URL}product/index.php?action=publist&m_id={$smarty.get.m_id}'" value="Salir" type="button" style="margin-left:10px" class="right" />
            <input name="" onclick="save_pub_basic_info('{$smarty.get.m_id}', 1);" value="Guardar" type="button" class="right" id="save_button" {if !$smarty.get.id}disabled="disabled"{/if}/>
      <!-- xxxxxx //Content xxxxxx -->
      <!-- xxxxxxxxxxxxxxxxxx //Content Area xxxxxxx -->
<!-- Popup sponsor -->
<div style="display: none;" id="">	
	<div id="add_sponsor" class="popup">
		<div class="info">
		<form action="{$SITE_URL}product/index.php?action=uploadhotspotfile" id="sponsor_form" enctype="multipart/form-data" method="post" name="sponsor_form" onsubmit="return false;">		
		<input type="hidden" name="sponsor_file_name" id="sponsor_file_name" />
		<input type="hidden" name="sponsor_id" id="sponsor_id" />
			<h1>Patrocinador</h1>
			<div id="sponsor_output" class="errMsg"></div>
			<div class="one_half">
				<label>Nombre del patrocinador:</label><br />
				<input id="sponsor_name" name="sponsor_name" type="text" /><br />
				<label>Link:</label><br />
				<input id="sponsor_link" name="sponsor_link" type="text" /><br />
				<label>Selecciona la imagen correspondiente:</label><br />
				<input type="file" name="userfile" id="sponsor_file" class="fileUpload" /><br />
				<div id="sponsor_error" class="errMsg"></div><br /><br />				
				<input name="" value="Guardar" type="button" id="sponsor_submit_button"  />
				<input name="" value="Salir" type="button" id="sponsor_cancel_button" style="margin-left:10px"  />
				<input name="" value="Delete" type="button" class="delete_hotspot_button" style="margin-left:10px" />
			</div>
			<!-- xxx //onehalf xxx -->
			<div class="one_half last">
				<label>Selecciona la imagen correspondiente:</label><br />
				<div class="m_thumb"  />
					<img src="{$SITE_URL}graphics/main/thumb_preview.png" id="sponsor_preview" alt=""   />
				</div>
				<div class="clear"></div>
			</div>
		</form>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	</div>
	  
	  
<!-- Popup image -->
<div style="display: none;" id="">	
	<div id="add_photo" class="popup">
		<div class="info">
		<form action="{$SITE_URL}product/index.php?action=uploadhotspotfile" id="photo_form" enctype="multipart/form-data" method="post" name="photo_form" onsubmit="return false;">		
		<input type="hidden" name="photo_file_name" id="photo_file_name" />
		<input type="hidden" name="photo_id" id="photo_id" />
			<h1>Ampliar Imagen</h1>
			<div id="photo_output" class="errMsg"></div>
			<div class="one_half">
				<label>Nombre:</label><br />
				<input id="photo_name" name="photo_name" type="text" /><br />
				<label>Descripcion:</label><br />
				<textarea id="photo_desc" name="photo_desc"></textarea><br />
				<label>Selecciona la imagen correspondiente:</label><br />
				<input type="file" name="userfile" id="photo_file" class="fileUpload" /><br />
				<div id="photo_error" class="errMsg"></div><br /><br />				
				<input name="" value="Guardar" type="button" id="photo_submit_button"  />
				<input name="" value="Salir" type="button" id="photo_cancel_button" style="margin-left:10px"  />
				<input name="" value="Delete" type="button" class="delete_hotspot_button" style="margin-left:10px" />
			</div>
			<!-- xxx //onehalf xxx -->
			<div class="one_half last">
				<label>Selecciona la imagen correspondiente:</label><br />
				<div class="m_thumb"  />
					<img src="{$SITE_URL}graphics/main/thumb_preview.png" id="photo_preview" alt=""   />
				</div>
				<div class="clear"></div>
			</div>
		</form>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	</div>

<!-- Popup video -->
<div style="display: none;" id="">	
	<div id="add_video" class="popup">
		<div class="info">
		<form action="{$SITE_URL}product/index.php?action=uploadhotspotvideo" id="video_form" enctype="multipart/form-data" method="post" name="video_form" onsubmit="return false;">		
		<input type="hidden" name="video_id" id="video_id" />
		<input type="hidden" name="video_file_name" id="video_file_name" />
			<h1>Cargar Video</h1>
			<div id="video_output" class="errMsg"></div>
			<div class="one_half">Ingresa la liga correspondiente del video(Youtube):</label><br />
				<input id="video_link" name="video_link" type="text" /><br />
				<label>Nombre del video:</label><br />
				<input id="video_name" name="video_name" type="text" /><br />
				<label>Descripcion:</label><br />
				<textarea id="video_desc" name="video_desc"></textarea><br />
				<label>Selecciona la imagen correspondiente:</label><br />
				<input type="file" name="userfile" id="video_file" class="fileUpload" />
				<img src="{$SITE_URL}graphics/main/ajax-loader.gif" id="video_loader" style="display:none;" /><br />
				<div id="video_error" class="errMsg"></div><br /><br />
				<input name="" value="Guardar" type="button" id="video_submit_button" />
				<input name="" value="Salir" type="button" style="margin-left:10px" id="video_cancel_button" />
				<input name="" value="Delete" type="button" class="delete_hotspot_button" style="margin-left:10px" />
			</div>
			<!-- xxx //onehalf xxx -->
			<div class="one_half last">
				<label>Selecciona la imagen correspondiente:</label><br />
				<div class="m_thumb" id="video_file_preview">
					<video width="290" height="200" controls id="">
					  <source src="http://localhost/magaseen/product/hotspot/video_1354991821.mp4" type="video/mp4">
					Your browser does not support the video tag.
					</video>
				</div>
				<div class="clear"></div>
			</div>
		</form>
		</div>
		<div class="clear"></div>
	</div>

<!-- Popup link -->
<div style="display: none;" id="">	
	<div id="add_link" class="popup">
		<div class="info">
		<form action="{$SITE_URL}user/index.php" id="link_form" method="post" name="link_form" onsubmit="return false;">	
		<input type="hidden" name="link_id" id="link_id" />		
		<h1>Anadir vinculo web</h1>
		<div id="link_output" class="errMsg"></div>
		<div class="one_half">
			<label>Introduce un link para una pagina web:</label><br />
			<input id="link_url" name="link_url" type="text" value="" /><br /><br /><br />
			<input name="" value="Guardar" type="button" id="link_submit_button" />
			<input name="" value="Salir" type="button" id="link_cancel_button" style="margin-left:10px" />
			<input name="" value="Delete" type="button" class="delete_hotspot_button" style="margin-left:10px" />
		</div>
		
		<div class="clear"></div>
		</div>
	</form>
	</div>
	<div class="clear"></div>
</div>
<!-- Popup publication  link -->
<div style="display: none;" id="">	
	<div id="add_pub_link" class="popup">
		<div class="info">
		<form action="{$SITE_URL}user/index.php" id="pub_link_form" method="post" name="pub_link_form" onsubmit="return false;">	
		<input type="hidden" name="pub_link_id" id="pub_link_id" />		
		<h1>Anadir vinculo web</h1>
		<div id="pub_link_output" class="errMsg"></div>
		<div class="one_half">
			<label>Selecciona la pagina deseada:</label><br />
			<span id="link_pub"></span><br /><br /><br />
			<input name="" value="Guardar" type="button" id="pub_link_submit_button" />
			<input name="" value="Salir" type="button" id="pub_link_cancel_button" style="margin-left:10px" />
			<input name="" value="Delete" type="button" class="delete_hotspot_button" style="margin-left:10px" />
		</div>
		
		<div class="clear"></div>
		</div>
	</form>
	</div>
	<div class="clear"></div>
</div>
<!-- ====== gallery popup ======== -->
<div style="display: none;">
  <div id="add_gallery" class="popup">
    <div class="info">
      <h1>Galeria de imagenes</h1>
	  <div id="gallery_output" class="errMsg"></div>
      <div class="one_half">
	  <form action="{$SITE_URL}product/index.php?action=addhotspotgallery" id="gallery_form" enctype="multipart/form-data" method="post" name="gallery_form" onsubmit="return false;">		
		<input type="hidden" name="hotspot_id" id="hotspot_id" />
		<input type="hidden" name="gallery_id" id="gallery_id" />
		<input type="hidden" name="gallery_file_name" id="gallery_file_name" />
      <h5>Selecciona la opcion deseada:</h5>
      <input name="b" type="radio" value="0" /> Cargar una imagen ( una por una )<br /><br />
      <input name="b" type="radio" value="1" /> Cargar varias imagenes ( carpeta en formato .zip ) <br /><br />
        <input type="file" name="userfile" id="gallery_file" class="fileUpload" />
		<img src="{$SITE_URL}graphics/main/ajax-loader.gif" id="gallery_loader" style="display:none;" />
        <br />
        <br /><div class="clear"></div>
        <label>Nombre de la galeria:</label>
        <br />
        <input name="gallery_name" id="gallery_name" type="text" />
        <br />
        <label>Descripcion de la galeria:</label>
        <br />
       <textarea name="gallery_desc" id="gallery_desc" cols="" rows=""></textarea>
        <br />
        <br />
        <br />
        <br />
        <input name="" value="Guardar" type="button" id="gallery_submit_button"/>
        <input name="" value="Salir" type="button" id="gallery_cancel_button" style="margin-left:10px" />
		<input name="" value="Delete" type="button" class="delete_hotspot_button" style="margin-left:10px" />
		</form>
      </div>
      <!-- xxx //onehalf xxx -->
      <div class="one_half last">
		<div class="pika-image"><img id="gall_main_img" src="{$SITE_URL}graphics/main/thumb_preview.png" height="315" width="345"/></div>
        <ul id="pikame"></ul>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- ====== /gallery popup ======== -->

<!-- ====== view_360 popup ======== -->
<div style="display: none;">
  <div id="add_view_360" class="popup">
    <div class="info">
      <h1>360 View de imagenes</h1>
	  <div id="view_360_output" class="errMsg"></div>
      <div class="one_half">
	  <form action="{$SITE_URL}product/index.php?action=addhotspotgallery&type=view_360" id="view_360_form" enctype="multipart/form-data" method="post" name="view_360_form" onsubmit="return false;">		
		<input type="hidden" name="hotspot_id" id="view_360_hotspot_id" />
		<input type="hidden" name="view_360_id" id="view_360_id" />
		<input type="hidden" name="view_360_file_name" id="view_360_file_name" />
      <h5>Selecciona la opcion deseada:</h5>
    
        <input type="file" name="userfile" id="view_360_file" class="fileUpload" />
		<img src="{$SITE_URL}graphics/main/ajax-loader.gif" id="view_360_loader" style="display:none;" />
        <br />
        <br /><div class="clear"></div>
        <label>Nombre de la galeria:</label>
        <br />
        <input name="view_360_name" id="view_360_name" type="text" />
        <br />
        <!-- <label>Link:</label>
        <br />
       <input name="view_360_link" id="view_360_link" type="text" />
        <br /> -->
        <label>Descripcion de la galeria:</label>
        <br />
       <textarea name="view_360_desc" id="view_360_desc" cols="" rows=""></textarea>
        <br />
        <br />
        <br />
        <br />
        <input name="" value="Guardar" type="button" id="view_360_submit_button"/>
        <input name="" value="Salir" type="button" id="view_360_cancel_button" style="margin-left:10px" />
		<input name="" value="Delete" type="button" class="delete_hotspot_button" style="margin-left:10px" />
		</form>
      </div>
      <!-- xxx //onehalf xxx -->
      <div class="one_half last">
		<div class="pika-image"><img id="view_360_main_img" src="{$SITE_URL}graphics/main/thumb_preview.png" height="315" width="345"/></div>
        <ul id="view_360_icon"></ul>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- ====== /view_360 popup ======== -->
<!-- Popup article -->
<div style="display: none;" id="">	
	<div id="add_article" class="popup">
		<div class="info">
		<form action="" id="article_form" method="post" name="article_form" onsubmit="return false;">	
		<input type="hidden" name="article_id" id="article_id" />		
		<h1>Add new Article</h1>
		<div id="article_output" class="errMsg"></div>
		<div class="one_half">
			<label>Article Title:</label><br />
			<input id="article_title" name="article_title" type="text" value="" /><br /><br /><br />
			<input name="" value="Guardar" type="button" id="article_submit_button" />
			<input name="" value="Salir" type="button" id="article_cancel_button" style="margin-left:10px" />
		</div>
		
		<div class="clear"></div>
		</div>
	</form>
	</div>
	<div class="clear"></div>
</div>
<script>{literal}
/*	Accordion Content
	/* ---------------------------------------------------------------------- */
	(function() {
		var $container = $('.acc-container'),
			$trigger   = $('.acc-trigger');
		$container.hide();
		$trigger.first().addClass('active').next().show();
		var fullWidth = $container.outerWidth(true);
		$trigger.css('width', fullWidth);
		$container.css('width', fullWidth);		
		$trigger.on('click', function(e) {
			var err = '';
			if($('#vName').val() == ''){
				err += 'Please enter the name.<br />';
			}
			if($('#iMonth').val() == '0'){
				err += 'Please select the month.<br />';
			}
			if($('#vDescription').val() == ''){
				err += 'Please enter the description.<br />';
			}
			if($('#dActivationDate').val() == '' || $('#dActivationDate').val() == 'dd/mm/yyyy'){
				err += 'Please select the activation date.<br />';
			}
			$('#pub_err').html(err);
			if(err == ''){
				save_pub_basic_info();
				if( $(this).next().is(':hidden') ) {
					$trigger.removeClass('active').next().slideUp(300);
					$(this).toggleClass('active').next().slideDown(300);
				}
			}else{
				return false;
			}
			e.preventDefault();
		});
		// Resize
		$(window).on('resize', function() {
			fullWidth = $container.outerWidth(true)
			$trigger.css('width', $trigger.parent().width() );
			$container.css('width', $container.parent().width() );
		});

	})();
	/* end Accordion Content */{/literal}
</script>