<h2>Change Password</h2>
{if $ERROR_MSG}
<div class="w100p errMsg clear">{$ERROR_MSG}</div>
{/if}
<form name="frm" action="" method="post">
<div class="row">
	<label class="small_label">Old Password:<span class="req">*</span></label>
	<input type="password" name="txtOldPassword" value="" class="txtbox" />
</div>
<div class="row">
	<label class="small_label">New Password:<span class="req">*</span></label>
	<input type="password" name="txtNewPassword" value="" class="txtbox" />
</div>
<div class="row">
	<label class="small_label">Confirm Password:<span class="req">*</span></label>
	<input type="password" name="txtConfirmPassword" value="" class="txtbox" />
</div>
<div class="row">
	<label class="small_label"></label>
	<input type="submit" name="submit" value="Save" class="submit_button" />
</div>
</form>