<div style="width:100%;float:left;">
Dear {$DATA.vName},<br /><br />
Your account has been created in {$smarty.const.SITE_TITLE}. <a href="{$smarty.const.SITE_URL}">Click here</a> to visit the site. Below are the details:<br /><br />
<span style="width:100px;float:left;"><b>RFC: </b></span>{$DATA.vRFC}<br />
<span style="width:100px;float:left;"><b>Colonia: </b></span>{$DATA.vColonia}<br />
<span style="width:100px;float:left;"><b>DelegMunic: </b></span>{$DATA.vDelegMunic}<br />
<span style="width:100px;float:left;"><b>Email: </b></span>{$DATA.vEmail}<br />
<span style="width:100px;float:left;"><b>Password: </b></span>{$DATA.vPassword}<br />
<span style="width:100px;float:left;"><b>Contact: </b></span>{$DATA.vContact}<br />
<span style="width:100px;float:left;"><b>Address: </b></span>{$DATA.vAddress}<br />
<span style="width:100px;float:left;"><b>City: </b></span>{$DATA.vCity}<br />
<span style="width:100px;float:left;"><b>Zip: </b></span>{$DATA.vZip}<br />
<span style="width:100px;float:left;"><b>Phone: </b></span>{$DATA.vPhone}<br />
<span style="width:100px;float:left;"><b>Total Slots: </b></span>{$DATA.iTotalSlots}<br />
<br />
Thanks,<br />
{$smarty.const.SITE_TITLE} Team
</div>