/*
	AnythingSlider v1.7+ Default (base) theme
	By Chris Coyier: http://css-tricks.com
	with major improvements by Doug Neiner: http://pixelgraphics.us/
	based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/*****************************
  SET DEFAULT DIMENSIONS HERE
 *****************************/
/*------------ Service slider -------------*/
.services_cont{
}
.services_cont .anythingSlider {
	display: block;
	overflow: visible !important; /* needed for Opera and Safari */
	position: relative;
	padding: 0px;
	height:371px!important;
	width:914px!important;
}
.services_cont .anythingBase .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
		height:371px!important;
	width:914px!important;
}
.services_cont .arrow a {
	background:url(../images/service_slidearrow.jpg) no-repeat;
display: block;
    height: 31px;
    margin: 0 0 0;
    overflow: hidden;
    text-align: center;
    text-indent: 22px;
    width: 22px;
}
.services_cont .arrow {
  display: block;
    position: absolute;
    right: 0;
    top: -14%;
}
.services_cont .back{
}
.services_cont .forward{
    right: -23px;
}
.services_cont .forward a{
  background-position: -27px 0;
}
/*------------ /Service slider -------------*/
/*------------ RecentProject -------------*/



.recentproject_img_cont .anythingSlider {
	display: block;
	overflow: visible !important; /* needed for Opera and Safari */
	position: relative;
	padding: 0px;
	height:262px!important;
	width:490px!important;
}
.recentproject_img_cont .anythingBase .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
height:262px!important;
	width:490px!important;
}
.recentproject_img_cont .arrow a {
     display: block;
    height: 42px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-indent: 42px;
    width: 36px;
}
.recentproject_img_cont .arrow {
  display: block;
    position: absolute;
	padding:0px!important;
	 margin-top: 87px;
    right: -49px;
    top: 0;
}
.recentproject_img_cont .back a{
	background:url(../images/recentp_arrow_left.png) no-repeat;
}
.recentproject_img_cont .forward{
   margin-top: 132px;
}
.recentproject_img_cont .forward a{
	background:url(../images/recentp_arrow_right.png) no-repeat;
}
/*------------ /RecentProject -------------*/
/*------------ special_logo -------------*/
.special_logo .anythingSlider {
	display: block;
	overflow: visible !important; /* needed for Opera and Safari */
	position: relative;
	padding: 0px;
	height:78px!important;
	width:924px!important;
}
.special_logo .anythingBase .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
height:78px!important;
	width:959px!important;
}
.special_logo .arrow a {
	background:url(../images/specialization_arrow.png) no-repeat;
 display: block;
    height: 22px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-indent: 42px;
    width: 15px;
}
.special_logo .arrow {
 display: block;
    margin-top: -50px;
    padding: 0 !important;
    position: absolute;
    right: -20px;
    top: 0;
}

.special_logo .forward{
   right: -41px;
}
.special_logo .forward a{
background-position: -21px 0;
}
.special_logo li a:last-child{
margin-right: 9px;
}
/*------------ /special_logo -------------*/

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* anythingSlider base (original element) */
.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
/* all panels inside the slider */

.anythingBase .panel.vertical {
	float: none;
}

.anythingControls{
display:none!important;
}

/*-----------------------------------------------------------------------------------*/
/*	SLIDER
/*-----------------------------------------------------------------------------------*/

.jquery-slider-wrapper
{
   clear: both;
    height: 288px !important;
    margin-bottom: 20px;
    position: relative;
    width: 288px !important;
	
}
.jquery-slider-wrapper .slider {
 height: 288px!important;
    overflow: hidden;
    position: relative;
    width: 288px!important;
	}

.jquery-slider-slide
{
  display: none;
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
   
}

.jquery-slider-slide img
{
  border:0;
  margin:0;
  padding:0;
}

.jquery-slider-slide-current
{
  display:block;
  z-index:2;
}

.jquery-slider-slide-next
{
  display:block;
  z-index:1;
}

.jquery-slider-selectors
{
  display:block;
  overflow:hidden;
  position:absolute;
  bottom:15px;
  right:15px;
  z-index:3;
}

.jquery-slider-selector
{
  background:url(style/images/slider-navi.png) no-repeat top;
  display:inline;
  float:left;
  width:12px;
  height:12px;
  margin:0 0 0 3px;
}

.jquery-slider-selector-current
{
  background:url(style/images/slider-navi.png) no-repeat bottom;
}

.jquery-slider-selector span
{
  display:none;
}

.jquery-slider-hovered .jquery-slider-control
{
  display:block;
}

.jquery-slider-navigation
{
  display:block;
}

.jquery-slider-navigation-prev
{
  background: transparent url(style/images/slider-controls.png) no-repeat left top;
  display:none;
  left:15px;
  top:50%;
  position:absolute;
  cursor: pointer;
  margin-top:-12px;
  z-index:4;
  	width:25px;
  	height:25px;
}

.jquery-slider-navigation-prev span
{
  display:none;
}

.jquery-slider-navigation-next
{
   background: transparent url(style/images/slider-controls.png) no-repeat right top;
  display:none;
  right:15px;
  top:50%;
  position:absolute;
  cursor: pointer;
  width:25px;
  height:25px;
  margin-top:-12px;
  z-index:4;
}

.jquery-slider-navigation-next span
{
  display:none;
}

.jquery-slider-hovered .jquery-slider-navigation-prev,
.jquery-slider-hovered .jquery-slider-navigation-next
{
  display:block;
}

.jquery-slider-wrapper .caption
{
  font-size:13px;
  position:absolute;
  bottom:15px;
  left:15px;
  max-width: 80%;
}

.jquery-slider-wrapper .caption h3
{
  padding:5px 10px;
  background:#FFF;
  text-shadow: none;
  display: inline-block;
  margin: 0 0 5px 0;
}

.jquery-slider-wrapper .caption p
{
  padding:5px 10px;
  margin: 0;
  background:#FFF;
  text-shadow: none;
}

.jquery-slider-timer-bar
{
  display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	CYCLE SLIDER
/*-----------------------------------------------------------------------------------*/