<script type="text/javascript" >
{literal}
 $(document).ready(function() { 
	$('#photoimg').live('change', function(){
	//alert('here');
		loader = img = siteurl+'graphics/main/ajax-loader.gif';
		$('#img_preview').attr('style', 'margin-top:90px');
		$('#img_preview').attr('src',img);
		$('#submit_button').attr('disabled', 'disabled');
		$("#imageform").ajaxForm({
			success: function(responseText){
				//alert(responseText);
				img = siteurl+'product/magazine/thumb/'+responseText;
				$('#image_name').val(responseText);
				$('#img_preview').attr('style', 'margin-top:0px');
				$('#img_preview').attr('src',img);
				$('#submit_button').removeAttr('disabled');
			}
		}).submit();
	});
	$("a[rel=example_group]").fancybox({
			     'opacity'		    : true,
				'overlayShow'	    : true,
				'transitionIn'		: 'elastic',
				'transitionOut'		: 'elastic',
				'titlePosition' 	: 'over',
				'showNavArrows' 	: false,
				'onClosed' 			: function() { reset_magazine_popup() },
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
				}
			});
});
function set_magazine_popup(id){
	$.ajax({
		url: siteurl+"product/index.php?action=get_magazine_data&id="+id,
		type: "GET",
		context: document.body,
		success: function(data){
			var obj = jQuery.parseJSON(data);
			$('#id').val(obj.iId);
			$('#vName').val(obj.vName);
			$('#vDescription').val(obj.vDescription);
			$("#iAppId option").each(function () {
				if ($(this).val() == obj.iAppId)
					$(this).attr('selected', 'selected');
			});
			img = siteurl+'product/magazine/thumb/'+obj.vImage;
			$('#image_name').val(obj.vImage);
			$('#img_preview').attr('src',img);
		}
	});
}
function reset_magazine_popup(){
	file_src = siteurl+'graphics/main/thumb_preview.png';
	$('#id').val('');				
	$('#vName').val('');
	$('#vDescription').val('');
	$('#image_name').val('');
	$('#gallery_file').val('');
	$('#img_preview').attr('src', file_src);
}
{/literal}		
</script>
<div id="content_area">
	<!-- xxxxx Title Bar xxxxxxx -->
	<div class="title_bar">
	<!-- xxxxx Left Area xxxxxxx -->
	<div class="left_area">
	<h1>Administrador de Contenidos</h1>
	</div>
	<!-- xxxxx //Left Area xxxxxxx -->
	<!-- xxxxx Right Panel xxxxxxx -->
	<div class="right_panel">
	<div class="add_magazine_btn"><a rel="example_group" href="#inline1"><img src="{$SITE_URL}graphics/main/add_icon.png" alt="" /> <span>Agregar nueva revista</span></a> </div>
	</div>
	<!-- xxxxx //Right Panel xxxxxxx -->
	</div>
	<div class="clear"></div>
	<!-- xxxxx //Title Bar xxxxxxx -->
	<!-- xxxxxxxxxxxx Left Area xxxxxxxxxxxx -->
	<div class="left_area">
		<div class="content">
		{if $smarty.get.showapps}
			<!-- <h2>Magazines for {$smarty.get.name}</h2> -->
			{assign var=id value=$smarty.get.app_id}
			{section name=j loop = $ARR_MAGAZINE[$id]}
				<div class="magazine_list">
					<a rel="example_group" href="#inline1" onclick="set_magazine_popup('{$ARR_MAGAZINE[$id][j].iId}');"><img src="{$SITE_URL}product/magazine/thumb/{$ARR_MAGAZINE[$id][j].vImage}" /></a>
					<h3>{$ARR_MAGAZINE[$id][j].vName}</h3>
					<p>{$ARR_MAGAZINE[$id][j].vDescription}</p>
				</div>
			{sectionelse}
				No record.
			{/section}
		{else}
			<h4>Bienvenido. Utiliza las herramientas de la derecha para administrar tus publicaciones</h4>

			Lorem ipsum dolor sit amet, consectetueng elit. Praesent vestibulum molestie lacusanmy hender it mauris lroetes. Phasellus porta. Fusce scipit variusmiu. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio ravida at.
		{/if}
		<div class="clear"></div>
		</div>
	<!-- xxxxxx //Content xxxxxx -->
	</div>
	<!-- xxxxxxxxxxxx //Left Area xxxxxxxxxxxx -->
	<!-- xxxxxxxxxxxx Right Panel xxxxxxxxxxxx -->
	<div class="right_panel"> 
	<!-- xxxxxx Content xxxxxx -->
	<div class="content">
	<h2>Proyectos disponibles</h2>
	<ul>
	{section name=i loop = $ARR_DATA}
	{assign var=id value=$ARR_DATA[i].iId}
	<li>
		 <a href="{$SITE_URL}user/index.php?showapps=1&app_id={$ARR_DATA[i].iId}&name={$ARR_DATA[i].vName}" title="{$ARR_DATA[i].vDescription}">{$ARR_DATA[i].vName}</a> &nbsp;
		<!--  (<a href="javascript:void(0);" onclick="show_magazine_popup({$ARR_DATA[i].iId}, '{$ARR_DATA[i].vName}');">Add Magazine</a>) -->
		<ul>
			{section name=j loop = $ARR_MAGAZINE[$id]}
			<!-- <li> <a href="{$SITE_URL}product/index.php?action=publist&m_id={$ARR_MAGAZINE[$id][j].iId}&name={$ARR_MAGAZINE[$id][j].vName}" title="View/Add publications for {$ARR_MAGAZINE[$id][j].vName}">{$ARR_MAGAZINE[$id][j].vName}</a></li> -->
			<li> <a href="{$SITE_URL}product/index.php?action=publist&m_id={$ARR_MAGAZINE[$id][j].iId}" title="Add publications for {$ARR_MAGAZINE[$id][j].vName}">{$ARR_MAGAZINE[$id][j].vName}</a></li>
			{/section}
		</ul>
	</li>
	{/section}
	</ul>
	</div>
	<!-- xxxxxx //Content xxxxxx -->
	</div>
	<!-- xxxxxxxxxxxx //Right Panel xxxxxxxxxxxx -->
	<!-- xxxxxxxxxxxxxxxxxx //Content Area xxxxxxx -->
	<div class="clear"></div>
</div>

<div style="display: none;" id="">	
	<div id="inline1" class="popup">
		<!-- <div class="image"><img src="{$SITE_URL}graphics/main/portfolio_l.jpg" /></div> -->
		<div class="info">
		<form action="{$SITE_URL}user/index.php" id="imageform" enctype="multipart/form-data" method="post" name="fileinfo" onsubmit="return false;">		
		<input type="hidden" name="image_name" id="image_name" />
		<input type="hidden" name="id" id="id" />
			<h1>Agregar revista</h1>
			<div id="output" class="errMsg"></div>
			<div class="one_half">
				<label>Nombre de la revista:</label><br />
				<input id="vName" name="vName" type="text" /><br />
				<label>Tipo de la revista:</label><br />
				{html_options name=iAppId id=iAppId options=$APPS}<br />
				<label>Description:</label><br />
				<textarea id="vDescription" name="vDescription"></textarea><br />
				<label>Selecciona la imagen correspondiente:</label><br />
				<input type="file" name="userfile" id="photoimg" class="fileUpload" /><br />
				<br /><br />
				<input name="" value="Guardar" type="button" id="submit_button" onclick="return validate_magazine();" />
				<input name="" value="Salir" type="button" style="margin-left:10px" onclick="$.fancybox.close()" />
			</div>
			<!-- xxx //onehalf xxx -->
			<div class="one_half last">
				<label>Selecciona la imagen correspondiente:</label><br />
				<div class="m_thumb"  />
					<img src="{$SITE_URL}graphics/main/thumb_preview.png" id="img_preview" alt=""   />
				</div>
				<div class="clear"></div>
			</div>
		</form>
		</div>
		<div class="clear"></div>
	</div>
	
</div>